body {
    background: #ffffff;
}

span.ui {
    background: #ffffff;
}

span.cesium-credit-text {
    display: none;
}

div#map {
    width: 600px;
    height: 600px;
    float: left;
    cursor: crosshair;
}

div#globe {
    width: 600px;
    height: 600px;
    float: right;
    cursor: hand;
}
